body,
html {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    color: #ecf0f1;
    background-color: rgb(174, 174, 175);
}
 @keyframes fadein {
    0% {
        opacity: 0%;
    }
    100%   {
        opacity: 100%;
    }
  } 

input {
    background-color: rgba(52, 73, 94, 0.5);
    color: black;
    outline: none;
    text-align: right;
    border: none;
    font-size: 3rem;
    width: 60.5vw;
}

.container {
    background-color: black;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    margin: auto;
}

button {
    border: none;
    background-color: black;
    color: white;
    width: 20vw;
    height: 10vh;
    
    
    font-size: 2vmax;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
}

.right,.rightin{
    background-color: rgb(108, 108, 108);
}

.row{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    max-width: 20vw;
    margin: auto;
}